# this file excludes unnecessary files from the docker build
# node_modules should be excluded so that the container builds it's own node_modules with npm install in the dockerfile
/node_modules
/packages
/public
# /dummy-functions
# /dummy-microservice
# /samples