@import "~bootstrap/scss/bootstrap";

.navbar{
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-color: rgb(104, 102, 100);
  background-color: rgb(104, 102, 100);
  color: rgb(255, 255, 255);
}

.autocomplete{
  position: relative;
  display: inline-block;
}

.autocomplete-items{
  position: absolute;
  border: 1px solid white;
  border-bottom: 1px solid white;
  border-top: none;
  z-index: 99;
  top: 100%;
  left:0;
  right:0;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.autocomplete-items div:hover {
  background-color: rgb(162, 156, 234);
}

.body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  // grid: 1fr 1fr / 1fr 0.75fr;
  height: 92vh;
  width: 100vw;
  background-color: rgb(249, 243, 243);
  color: rgb(0, 0, 0);
  margin: 0px;
}

.mb-2 {
  // style ={{width:'100%', fontSize:'1vw', backgroundColor:'rgba(45, 112, 70, 0.664)'}}
  width: 100%;
  font-size: 1vw;
  background-color: rgb(24, 3, 73);
  border-color: rgb(24, 3, 73);
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.table {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 102, 100);
  border-color: rgb(165, 160, 160);
}

#tabledata {
  width: 82vw;
  height: 50%;
  overflow-y: auto;
  word-wrap: break-word;
}

.dataVis {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 85%;
  max-height: 100%;
}

#pieChart{
  max-width: 50%;
  max-height: 100%;
}
#lineChart{
  max-width: 50%;
  max-height: 100%;
}

.graphs {
  display: flex;
  width: 100%;
  height: 50%;
}

#dropdown-body{
  border-style: dotted;
  border-radius: 10px;
  border: 10px;
  border-color: rgb(104, 102, 100);
  background-color: rgb(104, 102, 100);
  padding: 10px;
  margin: 10px;
  max-width: 15%;
  max-height: 98%;
  color: rgb(255, 255, 255);
}

#dropdown-basic{
  width: 100%;
  font-size: 1vw;
  background-color: rgb(24, 3, 73);
  border-color: rgb(24, 3, 73);
  color: rgb(255, 255, 255);
}
